// Color
$darkColor: #2B2831;
$darkColor85: rgba(43, 40, 49, 0.85);
// $primaryColor: #212529;
$primaryColor: #3f71c0;
$primaryColor85: rgba(63, 113, 192, 0.85);
$lightColor: #f8fafc;
$lightColor85: rgba(248, 250, 252, 0.85);
$secondaryColor: #858796;
$dangerColor: #e74a3b;
$successColor: #1cc88a;
$successColor85: rgba(28, 200, 138, 0.85);
$darkBoxShadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Size
$sidenavOpenWidth: 225px;
$sidenavClosedWidth: 105px;
$topnavHeight: 70px;

$primaryTransition: 0.3s ease-in-out;