// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@keyframes spinner {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }
  
    100% {
        transform: scale(1);
        opacity: 1;
    }
  
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
}

.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    &.scaleIn {
        animation-name: scaleIn;
        -webkit-animation-name: scaleIn;
    }
}



div#app{
    display: flex;

    .spinner{
        width: 80px;
        height: 80px;
        border: 7px solid $lightColor;
        border-radius: 100px;
        border-top: 7px solid $primaryColor;
        animation: spinner 0.6s linear infinite;
    }

    span.help-block{
        color: $dangerColor;
    }

    .table-responsive{
        display: block;
        width: 1px;
        min-width: 100%;
        overflow-x: auto;
    }

    .modal{
        padding: 0 !important;
    }

    .btn{
        &:hover{
            transition: $primaryTransition;
        }
    }

    .btn-primary{
        color: #fff;
        background-color: $primaryColor85;
        border-color: $primaryColor;
        &:hover{
            color: #fff;
            background-color: $primaryColor;
            border-color: $primaryColor;
        }
    }

    .btn-outline-primary{
        color: $primaryColor;
        border-color: $primaryColor;
        &:hover{
            color: #fff;
            background-color: $primaryColor;
            border-color: $primaryColor;
        }
    }

    .btn-outline-success{
        color: $successColor;
        border-color: $successColor;
        &:hover{
            color: #fff;
            background-color: $successColor;
            border-color: $successColor;
        }
    }

    .bg-primary{
        background-color: $primaryColor !important;
    }
    .bg-secondary{
        background-color: $secondaryColor !important;
    }
    .bg-success{
        background-color: $successColor !important;
    }
    .bg-danger{
        background-color: $dangerColor !important;
    }

    &.sidenav-closed{

        aside#sidenav{
            width: $sidenavClosedWidth;
            min-width: $sidenavClosedWidth;

            .sidenav-menu{

                > .nav{

                    .sidenav-menu-heading{
                        font-size: 0.75rem;
                        text-align: center;
                    }

                    a.nav-link{
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        &:hover{
                            &::after{
                                clip-path: circle(100% at 50% 50%);
                            }
                        }
                        &::after{
                            clip-path: circle(0 at 50% 40%);
                        }

                        .nav-link-icon{
                            margin-right: 0;
                        }

                        span{
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }

        main#wrapper{
            margin-left: $sidenavClosedWidth;

            nav#topnav{
                // margin-left: $sidenavClosedWidth;
                // width: calc(100% - $sidenavClosedWidth);
            }
        }
    }

    aside#sidenav{
        width: $sidenavOpenWidth;
        min-width: $sidenavOpenWidth;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        // background-color: $primaryColor;
        z-index: 1001;
        transition: $primaryTransition;
        
        .sidenav-brand{
            width: 100%;
            height: $topnavHeight;
            display: flex;
            background-color: $primaryColor;

            a{
                width: 100%;
                height: 100%;
                position: relative;
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    border-bottom: 1px solid $lightColor;
                    opacity: 0.15;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .sidenav-menu{
            overflow-y: auto;
            position: absolute;
            top: $topnavHeight;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $primaryColor;
            transition: $primaryTransition;
            &::-webkit-scrollbar {
                width: 6.5px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255,255,255,0.4);
                border-radius: 10px;
                transition: $primaryTransition;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: rgba(255,255,255,0.65);
            }

            > .nav{
                flex-direction: column;

                .sidenav-menu-heading{
                    width: 100%;
                    color: $lightColor;
                    opacity: 0.4;
                    padding: 1rem 1rem 0.5rem 1rem;
                    user-select: none;
                    font-size: 0.8rem;
                    transition: $primaryTransition;
                    text-transform: uppercase;
                }

                a.nav-link{
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    font-size: 1rem;
                    position: relative;
                    opacity: 0.9;
                    &:hover{
                        transition: $primaryTransition;
                        &::after{
                            clip-path: circle(100% at 50% 50%);
                        }
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        background-color: $lightColor;
                        opacity: 0.15;
                        z-index: -1;
                        clip-path: circle(0 at 16px 50%);
                        transition: $primaryTransition;
                    }

                    .nav-link-icon{
                        color: $lightColor;
                        margin-right: 0.75rem;
                    }

                    span{
                        color: $lightColor;
                        transition: $primaryTransition;
                    }
                }
            }
        }
    }

    main#wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        margin-left: $sidenavOpenWidth;
        background-color: $lightColor;
        transition: $primaryTransition;

        nav#topnav{
            height: $topnavHeight;
            background-color: #fff;
            box-shadow: $darkBoxShadow;
            padding: 0.5rem 0.75rem;
            position: fixed;
            left: 0;
            // margin-left: $sidenavOpenWidth;
            // width: calc(100% - $sidenavOpenWidth);
            width: 100%;
            z-index: 1000;
            transition: $primaryTransition;

            button#sidebarToggle{
                font-size: 1rem;
                color: $primaryColor;
                opacity: 0.8;
                &:focus{
                    border-radius: 50px;
                    transition: $primaryTransition;
                }
            }

            ul.navbar-nav{

                li.nav-item{

                    a#navbarDropdown{
                        color: $primaryColor;
                        opacity: 0.8;
                    }

                    .dropdown-menu{
                        a.dropdown-item{
                            color: $primaryColor;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        section#mainContent{
            margin-top: $topnavHeight;

            .card{
                box-shadow: $darkBoxShadow;

                .card-header{
                    color: $primaryColor85;
                    background: transparent;
                    padding: 1rem;
                    h5{
                        font-weight: 600;
                    }
                }
                
                .card-body{
                    color: $darkColor85;
                    .dataTables_wrapper.dt-bootstrap5.no-footer{
                        .row:nth-of-type(2){
                            display: block;
                            width: 1px;
                            min-width: 100%;
                            overflow-x: auto;
                        }
                    }
                    table{
                        color: $darkColor85 !important;
                        width: 100% !important;
                    }
                    ul.pagination{
                        li.page-item{
                            &.active{
                                .page-link{
                                    color: #fff;
                                    background-color: $primaryColor85;
                                    border-color: $primaryColor85;
                                }
                            }

                            .page-link{
                                color: $primaryColor85;
                            }
                        }
                    }
                    #modal-form{
                        .modal-header{
                            button{
                                transition: $primaryTransition;
                                color: $primaryColor85;
                                &:hover{
                                    color: $primaryColor;
                                }
                            }
                        }
                    }
                }

                &.main-menu{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    padding: 1.25rem;
                    border: none;
                    text-decoration: none;
                    border: none;
                    border-left: 0.25rem solid $primaryColor;
                    background: linear-gradient(to left, #fff 50%, $primaryColor 50%);
                    background-size: 200% 100%;
                    background-position:right bottom;
                    transition: $primaryTransition;
                    &:hover{
                        background-position:left bottom;

                        h5, i{
                            color: $lightColor;
                        }
                    }

                    h5{
                        color: $primaryColor85;
                        font-weight: 600;
                        transition: $primaryTransition;
                    }

                    i{
                        color: $primaryColor85;
                        font-size: 2em;
                        transition: $primaryTransition;
                    }
                }
            }
        }
    }

    #loadingOverlay{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1001;
        background-color: $primaryColor;
    }
}

@media screen and (max-width: 767px) {
    div#app{
        &.sidenav-closed{

            aside#sidenav{
            //    transform: translateX(-$sidenavClosedWidth);

                .sidenav-menu{
                    transform: translateX(-$sidenavClosedWidth);
                }
            }

            main#wrapper{
                margin-left: 0;
                &::after{
                    visibility: hidden;
                    opacity: 0;
                }
    
                nav#topnav{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }

        aside#sidenav{
            width: $sidenavClosedWidth;
            min-width: $sidenavClosedWidth;
    
            .sidenav-menu{
    
                > .nav{
    
                    .sidenav-menu-heading{
                        font-size: 0.75rem;
                        text-align: center;
                    }
    
                    a.nav-link{
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        &:hover{
                            &::after{
                                clip-path: circle(100% at 50% 50%);
                            }
                        }
                        &::after{
                            clip-path: circle(0 at 50% 40%);
                        }
    
                        .nav-link-icon{
                            margin-right: 0;
                        }
    
                        span{
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }

        main#wrapper{
            margin-left: 0;
            &::after{
                content:"";
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0.5;
                background-color: $primaryColor;
                transition: $primaryTransition;
            }

            nav#topnav{
                width: 100%;
                margin-left: 0;
            }
        }
    }
}